body {
    background-color: #333333;
}

.container {
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 700px !important;
    padding: 10px;
}

@media only screen and (max-width: 800px) {
    .container {
        width: auto !important;
    }
}